Optick_1.4.0
*.opt

.thumbnails
bin
bin-game/logs
bin-game/*.lib
bin-game/*.ini
bin-etc
output
data/.thumbnails
data/microprofile_dump_html
junk
obj
source/x64
CMakeCache.txt
source/**/*.obj
unigine_editor.cfg
*.cache
*.modified
*.tlog
external/ImGUI/include/imgui/*

#VS 2015+
.vs
*.vcxproj.user
*.VC.db
*.opendb
*.opensdf
*.pro.user
*.sdf
*.suo

#user settings

data/configs/unigine.user
data/configs/default.user
data/.editor2/*

#other
*.cache